<div class="row">
  <div class="col">
    <h1>All clothes</h1>
  </div>
</div>

<div class="row">
  <% @clothes.each do |clothe| %>
    <div class="col-sm-12 col-md-4 mb-2">
      <div class="card">
        <%# <%= image_tag clothe.picture_url, class: "card-img-top" %>
        <img class="card-img-top" src="https://images1.vinted.net/t/03_00134_GnnWTbEEJL8iAPEonQa4nUgJ/310x430/1649803250.jpeg?s=1ef42b385f67f61a4eebb7c070bb59222f58fb52">
        <div class="card-body">
          <h5 class="card-title"><%= clothe.title %></h5>
          <h6 class="card-price"><%= clothe.daily_price %></h5>
          <ul class="card-information">
            <li><%= clothe.size %></li>
            <li><%= clothe.address %></li>
          </ul>
          <a href="#" class="btn btn-outline-primary">Booking</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
