<div class="container">
  <div class="card-clothe">

    <div class="card-clothe-image"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @clothe.photo.key, height: 300, crop: :fill %>')">
    </div>
    <div class="card-clothe-infos">
      <div>
        <h2><%= @clothe.title %></h2>
        <h3><%= @clothe.category %> <%= @clothe.size %> <%= @clothe.gender %></h3>
        <p><%= @clothe.description %></p>
        <p><%= @clothe.address %></p>
        <h2 class="card-clothe-pricing"><%= @clothe.daily_price %> € </h2>
      </div>
      <%= cl_image_tag @clothe.owner.photo.key, height: 100, width: 100, crop: :fill, class: "card-clothe-user avatar-bordered" %>
      <div class="card-clothe-booking">
        <h2>Booking</h2>
        <%= render 'bookings/form' %>
      </div>
    </div>
  </div>
</div>
